@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #A6A1D8;
    --secondary: #37307D;
    --bg:  #08070F;
    --accent: #6A60C8;
    --text: #E2E0F0;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

.appear1 { animation: appear1 250ms; }
.appear2 { animation: appear2 250ms; }

@keyframes appear1 {
    from {
        opacity : 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes appear2 {
    from {
        transform : translateY(100px);
        opacity : 0;
    }

    to {
        transform : translateY(0px);
        opacity: 1;
    }
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 700;
    src: url("/../public/fonts/Ubuntu-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    src: url("/../public/fonts/Ubuntu-Medium.woff2") format('woff2');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    src: url("/../public/fonts/Ubuntu-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 300;
    src: url("/../public/fonts/Ubuntu-Light.woff2") format('woff2');
}

.bg { background: var(--bg); }
.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.bg-accent { background-color: var(--accent); }

.border-primary { border-color: var(--primary); }

.text-txt { color: var(--text); }
.text-bg { color: var(--bg); }
.text-primary { color: var(--primary); }
.text-secondary { color: var(--secondary); }
.text-accent { color: var(--accent); }

#search {
    backdrop-filter: blur(0px);
}

.gradient1 {
    background: linear-gradient(45deg,var(--accent), var(--secondary));
}

.gradient2 {
    background: linear-gradient(45deg, #6A60C8DD, #37307DDD);
}

.bg-primary-dark {
    background: rgb(43, 42, 58);
    border: solid 1px rgba(166, 161, 216, 0.3);
}

.glassomorph1 {
    background: rgba(166, 161, 216, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border-color: rgba(166, 161, 216, 0.3);
}

.glassomorph2 {
    background: rgba(166, 161, 216, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border-color: rgba(166, 161, 216, 0.4);
}

.nav-button { @apply relative; }
.nav-button::before {
    content: '';
    z-index: -1;
    background: linear-gradient(-45deg,var(--accent), var(--primary));
    @apply w-full h-full absolute block rounded-xl top-0 left-0 opacity-0 transition-opacity;
}

nav a.active::before {
    @apply opacity-100;
}


