@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #A6A1D8;
    --secondary: #37307D;
    --bg:  #08070F;
    --accent: #6A60C8;
    --text: #E2E0F0;
}

.bg { background: var(--bg); }
.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.bg-accent { background-color: var(--accent); }

.border-primary { border-color: var(--primary); }

.text-txt { color: var(--text); }
.text-bg { color: var(--bg); }
.text-primary { color: var(--primary); }
.text-secondary { color: var(--secondary); }
.text-accent { color: var(--accent); }

#search {
    backdrop-filter: blur(0px);
}

.glassomorph1 {
    background: rgba(166, 161, 216, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border-color: rgba(166, 161, 216, 0.3);
}

.nav-button { @apply relative; }
.nav-button::before {
    content: '';
    z-index: -1;
    background: linear-gradient(-45deg,var(--accent), var(--primary));
    @apply w-full h-full absolute block rounded-xl top-0 left-0 opacity-0 transition-opacity;
}

.chosen::before {
    @apply opacity-100;
}